body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #eee;
    overflow-x: hidden;
    text-align: left;
}

hr {
    border: 0;
    height: 0.4em;
    background: #333;
    background-image: linear-gradient(to right, #72B8AA, #56889A, #72B8AA);
    width: 95%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

h3{
    margin-top: 0px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-li {
    display: inline;
    padding: 0;
    margin: 0;
    
}

.nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #557087;
    overflow: hidden;
    padding: 1em;
}

li a {
    text-decoration: none;
    padding: 0.5em;
    color: white;
}

li a:hover {
    color: #bbb;
}

.li-right {
    float: right;
}

.main-section {
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 4em;
    margin-bottom: 2em;
    height: 1000px;
    background-color: white;

    
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.container-fluid > div {
    margin-left: 1em;
    margin-right: 1em;
  
}

.grid-heading {
    display: grid;
    grid-template-columns: 250px 540px 220px;
    grid-template-rows: 1fr;
}

.heading {
    margin-top: 5em;
}

.profile-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 2em;
}

.left-details {
    padding-left: 2em;
    
}

.mid-details {
    margin-top: 2em;

    display: block;
}

.right-details {
    justify-content: right;
    margin-top: 1em;
 
}

.right-details-spacing {
    margin-bottom: 1em;
}

.links {
    text-decoration: none;
    color: cornflowerblue;
}

.objective {    
    margin-left: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 1em;
}

.body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1em;
    grid-column-gap: 1em;
}

.projects-text-left {
    grid-column: 1 / 4;
}

.projects-text-right {
    margin-top: 4em;
    grid-column: 2 / 4;
}



  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid-heading {
        display: flex;
        flex-direction: column;
    }

    .main-section {
        margin-left: 0px;
        margin-right: 0px;
    }

    .left-details {
        text-align: center;
    }

    .mid-details {
        text-align: center;
    }

    .right-details {
        text-align: center;
    }

    .text-objective {
        margin-left: 0px;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .grid-heading {
        display: flex;
        flex-direction: column;
    }

    .main-section {
        margin-left: 0px;
        margin-right: 0px;
    }

    .left-details {
        text-align: center;
    }

    .mid-details {
        text-align: center;
    }

    .right-details {
        text-align: center;
    }

    .text-objective {
        margin-left: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

}
